:root {
  /* Brand colors */
  --brand-primary: color(var(--main-navigation-color) contrast(80%));
  --main-navigation-color: #384337;
  --main-navigation-color--inverted: #ffffff;
  --main-navigation-color--inverted-muted: #ffffff;
}